# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.log
# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/bbfs

Makefile
.deps
example/main
example/mountdir
example/rootdir/drive1
example/rootdir/drive2